*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --first-color: #13293e;
    --second-color: #f66b0e;
    --light: #efefef;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--first-color);
    clear: both;
}

footer .logotipo {
    width: 7vw;
    margin: 0 0 10px 80px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.footer-container ul {
    color: var(--light);
    list-style: none;
    margin-bottom: 30px;
}

.footer-container li{
    font-size: 20px;
}

.footer-container li:hover {
    transition: 0.5s;
    cursor: pointer;
    color: var(--second-color);
}

.footer-container label {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    color: var(--second-color);
}

.footer-container p {
    width: 130px;
    font-size: 12px;
    text-align: justify;
}

.footer-container ul div {
    display: flex;
    flex-wrap: wrap;
}

.footer-container ul div:last-child{
    justify-content: space-between;
}

.footer-container ul div i{
    color: var(--second-color);
    font-size: 35px;
}