RewriteEngine On
RewriteBase /nalin/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

ErrorDocument 403 http://localhost/nalin/WebSite/index.php
Options -Indexes

<Files .env>
    Require all denied
</Files>


